html { 
  -webkit-text-size-adjust: 100%; 
}
.selectMenu{
  margin: 10px auto;
  width: 70vw;
}

.title{
  text-align: center;
  margin: 0;
  font-size: 2.5vw;
}

img{
  display: block;
  margin: 0px auto;
  width:20vw;
}

.result{
  text-align: center;
  margin: 0px auto;
  width: 70vw;
}

.charRare :hover {
  cursor: pointer;
}

.selectMenu .charRare{
  margin: 10px 0px;
  border: 2px solid black;
  border-radius: 30px;
  display: flex;
  line-height: 5vh;
}

.selectMenu .position{
  display: flex;
  line-height: 5vh;
}


.selectMenu .class div{
  display: flex;
  line-height: 5vh;
}

.selectMenu .skill div{
  display: flex;
  line-height: 5vh;
}

.selectMenu p {
  padding-left: .8vw;
  padding-right: .8vw;
  text-align: center;
  margin : 10px 10px;
  font-size: 1.3vw;
  border: 2px solid black;
  border-radius: 40px;
}

table {
  font-size: 1.3vw;
  border-collapse: collapse;
  line-height: 1.5;
  margin : 20px 10px;
}

table th {
  width: 20vw;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border: 1px solid #ccc;
}

table td {
  width: 20vw;
  padding: 10px;
  vertical-align: top;
  border: 1px solid #ccc;
}

.position{
  border: 2px solid black;
  border-radius: 30px;
}

.position :hover {
  cursor: pointer;
}

.class{
  border: 2px solid black;
  border-radius: 30px;
}

.class :hover {
  cursor: pointer;
}

.skill{
  border: 2px solid black;
  border-radius: 30px;
}

.skill :hover {
  cursor: pointer;
}

.clicked {
  color: white;
  background-color: black;
}